.filter{
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    h1{
        font-weight: 300;
        font-size: 24px;
        color: white;
    }
    .item{
        display: flex;
        flex-direction: column;
        gap:2px;
         
        lable{
            font-size: 10px;
        }
        input,select{
            width: 100px;
            padding: 10px;
            border: 1px solid #e0e0e0;
        }
    }
    .top{
        label{
            color: white;
        }
        input{
            width: 100%;
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        label{
            color: white;
        }
        button{
            width: 100px;
            padding: 10px;
            border: none;
            cursor: pointer;
            background-color: rgb(252, 192, 119);
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
}