.listPage {
    display: flex;
    height: 100%;
    color: white;

    .listContainer {
        flex: 3;
        height: 100%;
        color: black;
        .wrapper{
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
        }
        .wrapper::-webkit-scrollbar {
            display: none;
        }
    }
    
    .mapContainer{
        flex: 2;
        height: 100%;
        background-color: transparent;
    }
}